html {
    height: 100%;
}
body {
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 100%;
}
a, h1, h2       { color: #377ba8; }
h3 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 600;
}

#getSimilar {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 6px;
    cursor: pointer;
}

#getSimilar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 7px;
}

.anime_content {
    display: none;
}
#input_box {
    padding: 10px;
    margin: 1em;
}

img.card-img-top {
    display: flex;
    flex-basis: 100%;
}

.col-md-4 {
    display: flex;
    flex-basis: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

.like-center-me {
    max-width: 100px;
    margin: auto;
    align-items: baseline;
}
