{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block headBlock %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>
<body>
    <!-- Header -->
    <header class='nav' id="header" class="alt">
        <!-- Navbar left Side -->
        <div class="home">
            <a href="{% url 'index' %}">Home</a>
        </div>

        <div class="logo"><a href="">ARecSys</a></div>

        <!-- Navbar Right Side -->
        <div class="ua">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </header>

    {% block contentblock %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <p>&copy; For Educational Purposes</p>
        </div>
    </footer>

    {% block blockScripts %}
    {% endblock %}
</body>
</html>