<!DOCTYPE HTML>
<html>
	<head>
		<title>Urban by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/home.css"/>
	</head>
	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="#header">Anime Recommendation <span>by Psychic Computing Machine</span></a></div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Anime Recommender System</h1>
						<p>
							Anime Recommendation based using Anime Synopsis, Genre and Ratings.<br/>
							The System uses TF-IDF & Count Vectorizer followerd by a Linear Kernel to recommend anime that are most similar.
						</p>
						<p>
							List of Available Animes in the Database can be found <a href="/available_animes">here</a>.
						</p>
					</header>
					<div class="container">
						<form id = "input_box">
							<div class="form-group">
								<label for="AnimeName">Anime</label>
								<input type="text" class="form-control" id="AnimeName" aria-describedby="help" placeholder="Name of the Anime for Recommendation">
							</div>
							<button type="submit" id = "getSimilar" class="btn btn-primary">RECOMMEND</button>
						</form>
					</div>
				</div>
			</section>

		<!-- Main -->
			<div class = "rows" id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image fit">
											<img src="https://myanimelist.cdn-dena.com/images/anime/12/47729.jpg" alt="" />
										</div>
									</div>
									<div class="col col2">
										<h3>High School DxD New</h3>
										<p class = "synopsis">
											The misadventures of Issei Hyoudou, high school pervert and aspiring Harem King, continue on in High School DxD New.
											As the members of the Occult Research Club carry out their regular activities,
											it becomes increasingly obvious that there is something wrong with their Knight,
											the usually composed and alert Yuuto Kiba.
											Soon, Issei learns of Kibas dark, bloody past and its connection to the mysterious Holy Swords.
											Once the subject of a cruel experiment, Kiba now seeks revenge on all those who wronged him.
											With the return of an old enemy, as well as the appearance of two new, Holy Sword-wielding beauties,
											it isnt long before Issei and his Devil comrades are plunged into a twisted plot once more.
										</p>
										<p class = "genres">
											<span class = "genre">Action</span>
											<span class = "genre">Harem</span>
											<span class = "genre">Comedy</span>
											<span class = "genre">Demons</span>
											<span class = "genre">Romance</span>
											<span class = "genre">Ecchi</span>
											<span class = "genre">School</span>
										</p>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
										<h3>Tokyo Ghoul</h3>
										<p class = "synopsis">
												Tokyo has become a cruel and merciless city—a place where vicious creatures called “ghouls” exist alongside humans.
												The citizens of this once great metropolis live in constant fear of these bloodthirsty savages and their thirst for human flesh.
												However, the greatest threat these ghouls pose is their dangerous ability to masquerade as humans and blend in with society.
												Based on the best-selling supernatural horror manga by Sui Ishida, Tokyo Ghoul follows Ken Kaneki, a shy, bookish college student, who is instantly drawn to Rize Kamishiro, an avid reader like himself.
												However, Rize is not exactly who she seems, and this unfortunate meeting pushes Kaneki into the dark depths of the ghouls inhuman world.
												In a twist of fate, Kaneki is saved by the enigmatic waitress Touka Kirishima, and thus begins his new, secret life as a half-ghoul/half-human who must find a way to integrate into both societies.
										</p>
										<p class = "genres">
											<span class = "genre">Action</span>
											<span class = "genre">Mystery</span>
											<span class = "genre">Horror</span>
											<span class = "genre">Psychological</span>
											<span class = "genre">Supernatural</span>
											<span class = "genre">Drama</span>
											<span class = "genre">Seinen</span>
										</p>
								</div>
								<div class="col col1 first">
									<div class="image fit">
										<img src="https://myanimelist.cdn-dena.com/images/anime/5/64449.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
							<div class="inner">
								<!-- 2 Columns -->
									<div class="flex flex-2">
										<div class="col col1">
											<div class="image fit">
												<img src="https://myanimelist.cdn-dena.com/images/anime/10/19956.jpg" alt="" />
											</div>
										</div>
										<div class="col col2">
											<h3>Hellsing</h3>
											<p class = "synopsis">
													Hellsing, an organization specializing in dealing with supernatural threats,
													is called in to eliminate a vampire that is turning the villagers of Cheddar into ghouls.
													To put an end to this, the leader of the organization, Sir Integra Fairbrook Wingates Hellsing,
													dispatches her most formidable asset: a powerful vampire known as Alucard.
													Armed with only a single handgun, Alucard wreaks havoc on the monsters plaguing Cheddar.
													However, a young police officer, Seras Victoria, gets caught up in the chaos and becomes mortally wounded as a result.
													Taking pity on the girl, Alucard gives her a choice: die as a human or live on as a vampire.
													Seras accepts his offer and begins a new life as a member of Hellsing.
													Though it was her decision, Seras struggles with the fact that she is no longer human.
													Nevertheless, she must embrace being a creature of the night soon if she wants to survive on the front lines in the fight between humans and the supernatural.
											</p>
											<p class = "genres">
												<span class = "genre">Action</span>
												<span class = "genre">Horror</span>
												<span class = "genre">Supernatural</span>
												<span class = "genre">Vampire</span>
												<span class = "genre">Seinen</span>
											</p>
										</div>
									</div>
							</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://twitter.com/Yashs744" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Yashs744" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-reddit"><span class="label">Reddit</span></a></li>
					</ul>
					<p>&copy; Psychic Computing Machine</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src = "/static/js/jquery.min.js"></script>
			<script src = "/static/js/jquery.scrolly.min.js"></script>
			<script src = "/static/js/jquery.scrollex.min.js"></script>
			<script src = "/static/js/skel.min.js"></script>
			<script src = "/static/js/util.js"></script>
			<script src = "/static/js/main.js"></script>
			<script src = "/static/js/home.js"></script>
	</body>
</html>
