{% extends 'base.html' %}
{% load static %}

{% block titleBlock %}
    <title>Anime Recommendation</title>
{% endblock %}

{% block contentblock %}
    <div class="site-block-wrap">
        <div class="owl-carousel with-dots">
            <div class="site-blocks-cover overlay overlay-2"
                 style="background-image: url('{% static "main/images/backImage.jpg" %}')" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12 mt-lg-8 text-center">
                            <h1 class="text-shadow">Anime Recommender System </h1>
                            <p class="mb-5 text-shadow">
                                Anime Recommendation based using Anime Synopsis, Genre and Ratings.<br/>
                            </p>
                            <form id="input_box" action='/' method="post">
                                <div class="form-group">
                                {% csrf_token %}
                                {{ form.anime_name }}
                                </div>
                                <button type="submit" id = "getSimilar" name="search" class="btn btn-primary">Search</button>
                                <button type="submit" id = "getSimilar" name="recommend" class="btn btn-primary">Recommend</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class = "rows" id="main">
        <!-- Section -->
        {% if animes %}
            {% for anime in animes %}
                <section class="wrapper style1">
                    <div class="inner">
                        <div class="flex flex-2">
                            <div class="col col1">
                                <div class="image flex">
                                    <img src="{{ anime.image }}" alt="" />
                                </div>
                            </div>
                            <div class="col col2">
                                <h3><a href="{% url 'anime-detail' anime.id %}">{{ anime.title }}
                                    {% if anime.title_english %}
                                        ({{ anime.title_english }})</a></h3>
                                    {% else %}
                                        </a></h3>
                                    {% endif %}
                                <p class = "synopsis">{{ anime.synopsis }}</p>
                                <p class = "genres">
                                    {% for genre in anime.genres %}
                                        <span class="genre">{{ genre }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        {% endif%}
    </div>

{% endblock %}

{% block blockScripts %}
    <script>
        document.getElementById('getSimilar').addEventListener("click",
            document.getElementById('main').scrollIntoView());
    </script>
{% endblock %}