{% extends 'base.html' %}
{% load static %}

{% block titleBlock %}
    <title>Anime Recommendation</title>
{% endblock %}

{% block contentblock %}
    <div class="site-block-wrap">
        <div class="owl-carousel with-dots">
            <div class="site-blocks-cover overlay overlay-2"
                 style="background-image: url('{% static "main/images/backImage.jpg" %}')" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12 mt-lg-8 text-center">
                            <h1 class="text-shadow">Anime Recommender System </h1>
                            <p class="mb-5 text-shadow">
                                Anime Recommendation based using Anime Synopsis, Genre and Ratings.<br/>
                            </p>
                            <form id="input_box" action='/' method="post">
                                <div class="form-group">
                                {% csrf_token %}
                                {{ form.anime_name }}
                                </div>
                                <button type="submit" id = "getSimilar" name="search" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    {% if animes %}
    <section class="ftco-section">
        <div class="container">
            {% for anime in animes %}
                <div class="row">
                    <div class="col-lg-8 order-lg-last">
                        <h3><a href="{% url 'anime-detail' anime.id %}">{{ anime.title }}
                            {% if anime.title_english %}
                                ({{ anime.title_english }})</a>
                            {% else %}
                                </a>
                            {% endif %}
                        </h3>
                        <h2>Synopsis</h2>
                        <hr>
                        <p>{{ anime.synopsis }}</p>
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                <h2>Genre</h2>
                                <hr>
                                {% for genre in anime.genres %}
                                    <a href="#" class="tag-cloud-link">{{ genre }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                <h2>Recommendation</h2>
                                <hr>
                                <a href="{% url 'recommend-anime' anime.id %}">Get Recommendation</a>
                            </div>
                        </div>
                    </div> <!-- .col-md-8 -->
                    <div class="col-lg-4 sidebar pr-lg-5">
                        <div class="sidebar-box">
                            <img src={{ anime.image }} alt="" class="img-fluid image flex">
                        </div>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
            {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}