<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404 Not Found</title>
        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="static/css/404.css">
    </head>
    <body>
        <!-- Header -->
		<header id="header" class="alt">
            <div class="logo"><a href="/">Anime Recommendation <span>by Psychic Computing Machine</span></a></div>
        </header>

        <header id = "banner">
            <div class = "inner">
                    <div class="text-wrapper">
                        <div class="title" data-content="404">404</div>

                        <div class="subtitle">
                            {{ msg if msg else "Oops, the Anime you're looking for doesn't yet exists in the Database."}}
                        </div>

                        <div class="buttons">
                            <a class="button" href="/available_animes">Go to Available Animes</a>
                        </div>
                    </div>
            </div>
        </header>
    </body>
</html>
