<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Available Anime</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
		<!-- Header -->
		<header id="header" class="alt">
			<div class="logo"><a href="/">Anime Recommendation <span>by Psychic Computing Machine</span></a></div>
		</header>

		<section id = "banner">
			<div class = "inner">
				<header>
					<h1>Anime in the Dataset</h1>
					<p>
						Below is the Table of all the Animes that are currently in the Dataset.<br>
						Currently there are {{ a_count }} Animes scraped from MyAnimeList Top Animes of all time.
					</p>
				</header>
				<a href= "#anime_df" class = "more">Learn More</a>
			</div>
		</section>
		{% for table in tables %}
		{{ table|safe }}
		{% endfor %}

		<!-- Scripts -->
		<script src = "/static/js/jquery.min.js"></script>
		<script src = "/static/js/jquery.scrolly.min.js"></script>
		<script src = "/static/js/jquery.scrollex.min.js"></script>
		<script src = "/static/js/skel.min.js"></script>
		<script src = "/static/js/util.js"></script>
		<script src = "/static/js/main.js"></script>
</body>
</html>
